/bin
/obj
/Program.cs
/.vs/Task 1
.vs/SAST.Engine/DesignTimeBuild/.dtbcache.v2
.vs/SAST.Engine/v16/.suo
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.deps.json
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.pdb
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNet.Identity.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Authorization.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Http.Abstractions.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Http.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Http.Internal.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Identity.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.Abstractions.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.Core.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.Data.SqlClient.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.EntityFrameworkCore.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.EntityFrameworkCore.Relational.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.Extensions.DependencyInjection.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.Net.Http.Headers.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.Practices.EnterpriseLibrary.Data.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/Microsoft.Security.Application.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/mscorlib.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.ComponentModel.DataAnnotations.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.ComponentModel.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Core.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Data.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Data.Entity.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Data.Linq.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Data.OracleClient.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Data.SQLite.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.DirectoryServices.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Net.Http.Headers.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Runtime.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Runtime.Extensions.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Security.Cryptography.Algorithms.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Security.Cryptography.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Security.Cryptography.Primitives.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Text.Encodings.Web.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Web.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Web.Mvc.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Xml.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Xml.Linq.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Xml.ReaderWriter.dll
SAST.Engine.CSharp/bin/Debug/netcoreapp3.1/Resources/System.Xml.XPath.dll
SAST.Engine.CSharp/obj/project.assets.json
SAST.Engine.CSharp/obj/project.nuget.cache
SAST.Engine.CSharp/obj/SAST.Engine.CSharp.csproj.nuget.dgspec.json
SAST.Engine.CSharp/obj/SAST.Engine.CSharp.csproj.nuget.g.props
SAST.Engine.CSharp/obj/SAST.Engine.CSharp.csproj.nuget.g.targets
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.AssemblyInfo.cs
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.AssemblyInfoInputs.cache
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.assets.cache
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.csproj.CoreCompileInputs.cache
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.csproj.FileListAbsolute.txt
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.csprojAssemblyReference.cache
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.dll
SAST.Engine.CSharp/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.pdb
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Humanizer.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.VisualBasic.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.pdb
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.deps.json
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.exe
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.pdb
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.runtimeconfig.dev.json
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.runtimeconfig.json
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNet.Identity.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Authorization.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Http.Abstractions.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Http.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Http.Internal.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Identity.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.Abstractions.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.Core.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.Data.SqlClient.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.EntityFrameworkCore.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.EntityFrameworkCore.Relational.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.Extensions.DependencyInjection.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.Net.Http.Headers.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.Practices.EnterpriseLibrary.Data.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/Microsoft.Security.Application.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/mscorlib.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.ComponentModel.DataAnnotations.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.ComponentModel.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Core.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Data.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Data.Entity.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Data.Linq.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Data.OracleClient.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Data.SQLite.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.DirectoryServices.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Net.Http.Headers.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Runtime.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Runtime.Extensions.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Security.Cryptography.Algorithms.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Security.Cryptography.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Security.Cryptography.Primitives.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Text.Encodings.Web.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Web.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Web.Mvc.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Xml.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Xml.Linq.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Xml.ReaderWriter.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/Resources/System.Xml.XPath.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
SAST.Engine.CSharp.Tests/obj/project.assets.json
SAST.Engine.CSharp.Tests/obj/project.nuget.cache
SAST.Engine.CSharp.Tests/obj/SAST.Engine.CSharp.Tests.csproj.nuget.dgspec.json
SAST.Engine.CSharp.Tests/obj/SAST.Engine.CSharp.Tests.csproj.nuget.g.props
SAST.Engine.CSharp.Tests/obj/SAST.Engine.CSharp.Tests.csproj.nuget.g.targets
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.AssemblyInfo.cs
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.AssemblyInfoInputs.cache
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.assets.cache
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.csproj.CopyComplete
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.csproj.CoreCompileInputs.cache
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.csproj.FileListAbsolute.txt
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.csprojAssemblyReference.cache
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.dll
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.exe
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.genruntimeconfig.cache
SAST.Engine.CSharp.Tests/obj/Debug/netcoreapp3.1/SAST.Engine.CSharp.Tests.pdb
SAST.Engine.CSharp/SAST.Engine.CSharp.csproj.user
.vs/SAST.Engine/DesignTimeBuild/.dtbcache.v2
.vs/SAST.Engine/v16/.suo
SAST.Engine.CSharp/SAST.Engine.CSharp.csproj.user
