<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionLocal" connectionString="Data Source=.;user Id=sa;Password=Sample@123;Initial Catalog=Sample;Connection Timeout=30;     
         Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;WebDevServerUseConfigSettings=true;privateImages=false"/>
    <add key="GeneratedPasswordLength" value="12"/>
    <add key="DefaultPassword" value="default"/>
    <add key="EnableErrorLogEmail" value="false" />
    <add key="PerPage" value="5" />
    <add key="EnableEmail" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="webpages:Enabled" value="true"/>
  </appSettings>
  <system.webServer>
    <caching enabled="true" maxCacheSize="1048576000" maxResponseSize="500000000" enableKernelCache="true"/>
    <defaultDocument>
      <files>
        <add value="Logins/NewLogin.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*.aspx" verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".properties" mimeType="application/l10n"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream"/>
    </staticContent>
    <directoryBrowse enabled="false" showFlags="Date, Time"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <authentication mode="Forms">
      <forms protection="None" enableCrossAppRedirects="True" validationKey="validationKey@123" decryptionKey="decryptionKey@Custom" ></forms>
	  <!-- <forms protection="None" enableCrossAppRedirects="True" cookieless="UseCookies" requireSSL="false"></forms> -->
    </authentication>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Office.Interop.Word, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
	<httpCookies httpOnlyCookies="true" requireSSL="false" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" enableHeaderChecking="false" executionTimeout="100000" requestLengthDiskThreshold="2147483647" maxRequestLength="2147483647"/>
    <sessionState mode="InProc" timeout="60" cookieless="false"/>
    <pages enableSessionState="true" enableEventValidation="false" enableViewStateMac="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>